{% extends "emr/base.html" %} {%block content%}

<!--Add and edit modal-->

<div
  class="modal fade"
  id="patient-create-update-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Patient</h5>
      </div>
      <div class="modal-body">
        <!--form start-->
        <form id="patient-form" >  
          {% csrf_token %}
          <div class="form-group mb-2">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" id="first_name" />
          </div>
          <div class="form-group mb-2">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" id="last_name" />
          </div>
          <div class="form-group mb-2">
            <label for="date_of_birth">Date of Birth:</label>
            <input type="date" class="form-control" id="date_of_birth" />
          </div>
          <div class="form-group mb-2">
            <label for="phone_number">Phone Number:</label>
            <input type="text" class="form-control" id="phone_number" />
          </div>
          <div class="form-group mb-2">
            <label for="gender">Gender:</label>
            <select class="form-control select-dropdown" id="gender">
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-group mb-2">
            <label for="email">Email address:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group mb-2">
            <label for="address">Address:</label>
            <input type="text" class="form-control" id="address" />
          </div>
        </form>
        <!--form end-->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          onclick="closepatientModal()"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary" onclick="savePatient()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<!--end Add and edit modal-->

<!--patient grid-->
<div class="row mb-4 mt-4">
  <div class="col-md-1"></div>

  <div class="col-md-8"><h2>Patients</h2></div>

  <div class="col-md-2"></div>
</div>


<div class="row">
  <div class="col-md-1"></div>

>
  <div class="col-md-10">
    <div class="card div-scrollable"style="overflow-y: scroll; height:550px;">
      <div class="card-header">
        <button class="btn btn-icon  btn-outline-secondary" onclick="openPatientModalForCreate()">
          <i class="fa fa-plus-circle" ></i>
        </button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <table id="example" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th>Full Name</th>

                  <th>Gender</th>

                  <th>Email</th>
                  <th>Address</th>
                  <th>Age</th>
                  <th>Phone</th>
                            <th>Created At</th>
                     <th></th>
                                    <th></th>
                </tr>
              </thead>
              <tbody>
                {%for patient in patients%}
                <tr>
             
                    <td><a href="{%url 'emrapp:medical_record_per_patient'%}?patient_id={{patient.id}}">{{patient.full_name}}</a></td>

                  <td>{{patient.gender}}</td>

                  <td>{{patient.email}}</td>
                  <td>{{patient.address}}</td>
                  <td>{{patient.age}}</td>
                  <td>{{patient.phone_number}}</td>
                                   <td>{{patient.created_at |date}}</td>
                  <td>
      
                    <button
                      class="btn btn-warning btn-sm me-2"
                      onclick="openPatientModalForEdit({{patient.id}})"
                    >
                      <i class="fa fa-edit fa-lg" area-hidden="true"></i>
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn btn-danger btn-sm me-2"
                      onclick="deletePatient({{patient.id}})"
                    >
                      <i class="fa fa-trash fa-lg" area-hidden="true"></i>
                    </button>
                  </td>

                  {%endfor%}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<!--end patient grid-->
{%endblock%} {%block jsscripts%}

<script>
  var edit_id;
 create_mode=true;
  $(document).ready(function () {
    $("#example").DataTable({ pageLength: 5,ordering:false });
  });
  function openPatientModalForCreate() {
    $("#patient-create-update-modal").modal("show");
    create_mode=true;
    $("#patient-form")[0].reset();
  }
    function openPatientModalForEdit(id) {
    $("#patient-create-update-modal").modal("show");
fillPatientEditModal(id)
edit_id=id;
   create_mode=false;
  }
  function closepatientModal() {
    $("#patient-create-update-modal").modal("hide");
  }

  function savePatient() {
    var dict={
     
        first_name: $("#first_name").val(),
        last_name: $("#last_name").val(),
        date_of_birth: $("#date_of_birth").val(),
        phone_number: $("#phone_number").val(),
        email: $("#email").val(),
        gender: $("#gender").val(),

        address: $("#address").val(),
      }
      if (!create_mode && edit_id != undefined) {
        dict["id"] = edit_id;
      }
    $.ajax({
      url: "{%url 'emrapp:patient_save'%}",
      headers: {
        "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val(),
      },
      type: "POST",
      data: dict,
      success: function (result) {
        console.log(result);
        if (result.registration == "success") {
          toastr.success("Patient saved successfully");
             setTimeout(() => {
   if (create_mode && result.email_sent == "success") {
          toastr.success("Email Sent  successfully");
 
        
          }
          else if(create_mode && result.email_sent == "failed"){

              toastr.error("Email sending failed!");
          }
        }, "2000");
      }
        

      
              setTimeout(() => {
window.location.reload()
          }, "1000");
      
    },
      error: function () {

         toastr.error("Error, Registration failed!");
 
              setTimeout(() => {
window.location.reload()
          }, "1000");
      },
    });
  }
  function fillPatientEditModal(id){
var uid = $(this).closest('tr').find('td:eq(0)').text();
  console.log(uid);
  console.log(id);
$.ajax({
      url: "/patient/"+id,
      headers: {
        "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val(),
      },
      type: "GET",
      data: {

      },
      success: function (result) {
        console.log(result);
        $.each(result[0]["fields"], function(key, value) {
          $("#" + key).val(value);
        });
      },
      error: function () {},
    });
  }
 
  

 
      
</script>
{%endblock%}
